* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background: #f1f1f1;
}
#page-container {
    max-width: 860px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 0 auto;
    background: #fff;
    min-height: 100%;
    padding: 40px;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    margin-bottom: 40px;;
}
main {
    text-align: center;
    padding-top: 60px;
    width: 100%;
}
.btn {
    padding: 20px;
    background: rgba(33, 43, 166, .7);
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    transition: all ease .3s;
    cursor: pointer;
    text-align: left;
    margin: 10px;
    max-width: 300px;
    display: flex;
    
}
.btn:hover, .btn:focus {
    background: rgba(33, 43, 166, 1);
    outline: none;
}

h1 {
    margin-bottom: 20px;
    text-align: left;
}
h2 {
    color: #444;
    font-size: 30px;;
}
p {
    padding-bottom: 20px;
    line-height: 1.5;
    font-size: 20px;
}
.intro {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.intro h1 {
    text-align: center;
    width: 100%;
}
#start-btn {
    margin: 20px 0;
    justify-content: center;
}
.question-container {
    list-style: none;
    width: 100%;
}
.answers {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:  column;
}
.checker {
    border-top: 2px solid #afafaf;
    padding-top: 20px;
}